@media screen and (min-width: 961px) {
	html {
		text-align: center;
	}
}

	body {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 175%;
		
		-webkit-font-smoothing: subpixel-antialiased !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		-moz-osx-font-smoothing: grayscale;
		
		margin: 0;
	}

@media screen and (max-width: 960px) {
	body {
		font-size: 13px;
		margin: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	body {
		font-size: 15px;
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}	
}

@media screen and (max-width: 960px) {
	hgroup {
		padding: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	hgroup {
		text-align: left;
		margin: 0 50px 50px 50px;
	}	
}

@media screen and (max-width: 960px) {
	article {
		padding: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	article {
		text-align: left;
		margin: 0 50px 50px 100px;
	}	
}

@media screen and (max-width: 960px) {
	section, aside {
		margin-top: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	section, aside {
		margin: 15px 0;
	}	
}

	hr {
		background-color: transparent;
		background-color: #fff;
	}

@media screen and (max-width: 960px) {
	hr {
		border: 0;
		border-top: 1px solid #eee;
		height: 0px;
		margin: 5px 0;
	}
	
}

@media screen and (min-width: 961px) {
	hr {
		border: 0;
		border-top: 1px solid #eee;
		height: 0;
		margin: 0 50px;
	}	
}

	ul {
		list-style-type: none;
	}

@media screen and (max-width: 960px) {
	ul {
		margin: 5px 0;
		padding-left: 0;
	}
}

@media screen and (min-width: 961px) {
	ul {
		margin: 15px 0;
		padding-left: 0;
	}
}

	h1 {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 200%;
	}
}	
	
@media screen and (min-width: 961px) {
	h1 {
		text-align: left;
		font-size: 200%;
		margin: 0px 50px 20px 50px;
		padding-top: 50px;
	}
}

	h2 {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	h2 {
		font-size: 150%;
	}
}	
	
@media screen and (min-width: 961px) {
	h2 {
		text-align: left;
		font-size: 150%;
		margin: 0 50px 15px 50px;
	}
}

	h3 {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	h3 {
		font-size: 125%;
	}
}

@media screen and (min-width: 961px) {
	h3 {
		text-align: left;
		font-size: 125%;
		margin: 0 50px 50px 50px;
	}
}

	article .logo {
		position: absolute;
		background-color: #fff;
	}

@media screen and (max-width: 960px) {
	article .logo {
		font-size: 200%;
		margin: 0;
		padding: 0;
		right: 10px;
	}
}

@media screen and (min-width: 961px) {
	article .logo {
		text-align: center;
		font-size: 300%;
		width: 50px;
		margin: 40px 0;
		margin-left: -75px;
	}
}

	article h2 {
		font-weight: 400;
		text-transform: none;
	}

@media screen and (max-width: 960px) {
	article h2 {
		font-size: 200%;
		margin: 0;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 961px) {
	article h2 {
		font-size: 200%;
		margin: 0;
		padding: 25px 0;
		padding-top: 50px;
	}
}

	article h3 {
		font-weight: 400;
		text-transform: none;
	}

@media screen and (max-width: 960px) {
	article h3 {
		font-size: 150%;
		margin: 0;
	}
}

@media screen and (min-width: 961px) {
	article h3 {
		font-size: 150%;
		margin: 0;
	}
}

	article h4 {
		font-weight: 400;
		text-transform: none;
	}

@media screen and (max-width: 960px) {
	article h4 {
		font-size: 100%;
		margin: 0;
	}
}

@media screen and (min-width: 961px) {
	article h4 {
		font-size: 100%;
		margin: 0;
	}
}

	article h5 {
		font-weight: 300;
	}

@media screen and (max-width: 960px) {
	article h5 {
		font-size: 100%;
		margin: 0;
	}
}

@media screen and (min-width: 961px) {
	article h5 {
		font-size: 100%;
		margin: 0;
	}
}

	p {
		margin: 0;
	}

	a {
		color: #069;
		text-decoration: none;
	}

	a:hover {
		color: #09c;
		text-decoration: none;
	}

	strong {
		font-weight: 400;
	}
	
	nav {
		margin: 0;
	}

@media screen and (max-width: 960px) {
	nav {
		border-bottom: 1px solid #eee;
	}
}	
	
@media screen and (min-width: 961px) {
	nav {
		position: fixed;
		width: 200px;
		text-align: right;
		margin-left: -200px;
		border-right: 1px solid #eee;
		padding: 50px 50px 5000px 0;
	}
}

	nav a {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	nav a {
		display: inline;
	}
}	
	
@media screen and (min-width: 961px) {
	nav a {
		display: block;
	}
}

	.color-faded {
		color: #ccc;
	}